flask==3.0.3
flask-cors==4.0.1
sqlalchemy==2.0.30
blind-watermark==0.4.4
imagehash==4.3.1
Pillow
opencv-python-headless==4.9.0.80
video-invisible-watermark==0.1.0
yt-dlp==2024.5.27
google-api-python-client==2.131.0
serpapi==0.1.5
google-generativeai==0.7.2
reportlab==4.2.0
APScheduler==3.10.4
google-cloud-storage==2.16.0
python-dotenv==1.0.1
gunicorn==22.0.0
psycopg2-binary==2.9.9
